<a href="https://colab.research.google.com/github/Musfirah-Ansari/pythonBasics/blob/main/pythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Machine Learning")

Machine Learning

In [3]:
x = 5
if x > 10:
  print("x is greater than 10")

In [6]:
name = "musfirah"

In [20]:
print(type(name))

<class 'str'>

In [8]:
age = 22

In [9]:
work = "Software developer"

In [10]:
workplace = "BankAlfalah"

In [17]:
salary = 999999.00

# f string

In [19]:
print(f"My name is {name}. I am {age} years old. I work as a {work} at {workplace}. I earn {salary} per month")

My name is musfirah. I am 22 years old. I work as a Software developer at BankAlfalah. I earn 99999.0 per month

# Types

In [21]:
print(type(age))

<class 'int'>

In [22]:
print(type(work))

<class 'str'>

In [23]:
print(type(workplace))

<class 'str'>

In [24]:
print(type(salary))

<class 'float'>

In [26]:
price = 35.67
year = 2024
is_admin = True

In [27]:
print(type(price))
print(type(year))
print(type(is_admin))

<class 'float'>
<class 'int'>
<class 'bool'>

In [28]:
year = float(year)

In [29]:
print(type(year))

<class 'float'>

# Taking User input

In [41]:
my_name = input("Please enter your name here. ")

Please enter your name here. MUSFI

In [42]:
print(my_name)

MUSFI

In [49]:
my_age = input("Please enter your age ")

Please enter your age 311

In [50]:
#Total = my_name + my_age
Total = my_name + str(my_age)

In [51]:
print(Total)

MUSFI311

# Area

In [87]:
length = 5
width = 6
area = length * width

print(f"The area is {area}")

The area is 30

# Shopping cart program

In [174]:
cart = {}

#price * quantity
cart["Apple"] = 1.5 * 3
cart["Banana"] = 0.75 * 5

totalsum = cart["Apple"] + cart["Banana"]

print(f"The total sum of apples in cart is ${cart['Apple']}")
print(f"The total sum of bananas in cart is ${cart['Banana']}")
print(f"Total sum of all the fruits is ${totalsum}")

The total sum of apples in cart is $4.5
The total sum of bananas in cart is $3.75
Total sum of all the fruits is $8.25

# Indexing

In [90]:
credit_card_number = "1234-5678-9012-3456"
print(credit_card_number[0])
print(credit_card_number[5:9])
print(credit_card_number[:4])
print(credit_card_number[1:9:2]) #step size
print(credit_card_number[1:-9])
print(credit_card_number[:-1])
print(credit_card_number[::-1])

1
5678
1234
2457
234-5678-
1234-5678-9012-345
6543-2109-8765-4321

In [91]:
CCN = input("Please enter your CCN: ")

Please enter your CCN: 1234-5678-9012-3456

# Printing Credit Cart numbers in encryted form using both positive and negative indexing

In [113]:
encrypted = CCN[15:19] #positive indexing
encrypted2 = CCN[-4:] #negative indexing
print(f"Your Credit Card is : ****-****-****-{encrypted}")
print(f"Your Credit Card is : ****-****-****-{encrypted2}")

Your Credit Card is : ****-****-****-3456
Your Credit Card is : ****-****-****-3456

In [120]:
CCN = input("Please enter your CCN: ")
encrypted = ""

for i in range(len(CCN)):
    if i < 15:
        if CCN[i] != '-':
            encrypted += '*'
        else:
            encrypted += '-'
    else:
        encrypted += CCN[i]

print(f"Your Debit Card is: {encrypted}")

Please enter your CCN: 1234-5678-9012-3456
Your Debit Card is: ****-****-****-3456

# String Methods

In [135]:
x = "my name is musfirah-fayyaz ansari. My age is 22."

In [136]:
x.find("s")

9

In [137]:
x.rfind("i")

42

In [138]:
x.capitalize()

'My name is musfirah-fayyaz ansari. my age is 22.'

In [139]:
x.title()

'My Name Is Musfirah-Fayyaz Ansari. My Age Is 22.'

In [140]:
x.upper()

'MY NAME IS MUSFIRAH-FAYYAZ ANSARI. MY AGE IS 22.'

In [141]:
x.lower()

'my name is musfirah-fayyaz ansari. my age is 22.'

In [142]:
x.isdigit()

False

In [143]:
x.isalpha()

False

In [144]:
x.count("-")

1

In [145]:
x.replace("-", "--")

'my name is musfirah--fayyaz ansari. My age is 22.'

In [146]:
x.split()

['my', 'name', 'is', 'musfirah-fayyaz', 'ansari.', 'My', 'age', 'is', '22.']

In [151]:
len(x)

48

In [158]:
email = "misbah.haque@xloopdigital.com"

path = "C:/Users/Misbah/Documents/file.txt"

In [159]:
parts = path.split("/")
print(parts)

['C:', 'Users', 'Misbah', 'Documents', 'file.txt']

In [160]:
last_str = email.rfind("@") #reverse find
print(last_str)
# last str will find the index of @
#we will use that index to slice out the domain
domain = email[last_str+1:]
print(domain)

12
xloopdigital.com

# Validate user input exercise

In [170]:
uname = input("Please enter your name: ")

if len(uname) > 12:
  print("Username is no more than 12 characters.") # uname is no mre than 12 char
elif not uname.find(" ")==-1:
  print("Username cannot contain spaces.") # uname must not contain spaces
#elif not uname.isdigit():
elif any(char.isdigit() for char in uname):
  print("Username cannot contain digits.") # uname must not contain digits
else:
  print("Username is valid.")

Please enter your name: musfi.rah
Username is valid.

# Format Specifiers

In [173]:
price1 = 2.44
price2 = -44
price3 = 354.5

print(f"price 1 is ${price1:.1f}")
print(f"price 1 is ${price:>10}")
print(f"price 1 is ${price:^10}")

price 1 is $2.4
price 1 is $     35.67
price 1 is $  35.67

# Exercise

In [194]:
# Create a product price table displaying the price, tax (8%), and total price for three products, formatted with proper alignment and precision using f-strings.

prod1 = "Macbook"
price1 = 1300000.0
prod2 = "Iphone"
price2 = 4647000
tax_rate = 0.08
tax1 = price1*tax_rate
tax2 = price2*tax_rate

print("="*11 + "Product Price Table" + "="*11)

print(f"{'Product:':<15} {'Price:':>10} {'Tax (8%):' :>15}")
print(f"{prod1:<15} {price1:>10.2f} {tax1:>15.2f}")
print(f"{prod2:<15} {price2:>10.2f} {tax2:>15.2f}")

print("="*42)

===========Product Price Table===========
Product:            Price:       Tax (8%):
Macbook         1300000.00       104000.00
Iphone          4647000.00       371760.00
==========================================

# Nested Loops

In [201]:
row = 8
col = 8
symbol = ' Musfirah '

for x in range(row):
  for y in range(col):
    print(symbol, end="")
  print()

 Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah
 Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah
 Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah
 Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah
 Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah
 Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah
 Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah
 Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah  Musfirah

# Match case

In [208]:
day = int(input("Please enter day number here: "))
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")
  case _:
    print("Invalid day number")

Please enter day number here: 6
Saturday

# List Comprehensions

In [213]:
double = [x*2 for x in range(10) if x>2 ]
print(double)

[6, 8, 10, 12, 14, 16, 18]

In [212]:
type(double)

list

# Exercises

In [216]:
salaries = [50000, 60000, 70000]

new_salaries = [x*1.1 for x in salaries]

print(new_salaries)

[55000.00000000001, 66000.0, 77000.0]

# Functions & Advanced Python Concepts

In [217]:
def sum(a, b):
  sum = a+b
  return sum

sum(4, 4)

8

In [219]:
def multiply(a, b):
  multiply = a*b
  return multiply

multiply(4, 4)

16

In [223]:
def divide(a, b):
  divide = a/b
  return divide

divide(16, 4)

4.0

In [222]:
def subtract(a, b):
  subtract = a-b
  return subtract

subtract(4, 3)

1

# Dictionary Assignment

In [224]:
# Create a simple bank system using a dictionary to store customer names & their balances. The program should allow users to enter a customer's name & display their balances. If the customer does not exist, inform the user that the customer is not found.