<a href="https://colab.research.google.com/github/Musfirah-Ansari/pythonBasics/blob/main/pythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Machine Learning")

Machine Learning

In [3]:
x = 5
if x > 10:
  print("x is greater than 10")

In [6]:
name = "musfirah"

In [20]:
print(type(name))

<class 'str'>

In [8]:
age = 22

In [9]:
work = "Software developer"

In [10]:
workplace = "BankAlfalah"

In [17]:
salary = 999999.00

In [19]:
print(f"My name is {name}. I am {age} years old. I work as a {work} at {workplace}. I earn {salary} per month")

My name is musfirah. I am 22 years old. I work as a Software developer at BankAlfalah. I earn 99999.0 per month

In [21]:
print(type(age))

<class 'int'>

In [22]:
print(type(work))

<class 'str'>

In [23]:
print(type(workplace))

<class 'str'>

In [24]:
print(type(salary))

<class 'float'>

In [26]:
price = 35.67
year = 2024
is_admin = True

In [27]:
print(type(price))
print(type(year))
print(type(is_admin))

<class 'float'>
<class 'int'>
<class 'bool'>

In [28]:
year = float(year)

In [29]:
print(type(year))

<class 'float'>

In [41]:
my_name = input("Please enter your name here. ")

Please enter your name here. MUSFI

In [42]:
print(my_name)

MUSFI

In [49]:
my_age = input("Please enter your age ")

Please enter your age 311

In [50]:
#Total = my_name + my_age
Total = my_name + str(my_age)

In [51]:
print(Total)

MUSFI311