<a href="https://colab.research.google.com/github/Musfirah-Ansari/pythonBasics/blob/main/pythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Machine Learning")

Machine Learning

In [3]:
x = 5
if x > 10:
  print("x is greater than 10")

In [6]:
name = "musfirah"

In [20]:
print(type(name))

<class 'str'>

In [8]:
age = 22

In [9]:
work = "Software developer"

In [10]:
workplace = "BankAlfalah"

In [17]:
salary = 999999.00

# f string

In [19]:
print(f"My name is {name}. I am {age} years old. I work as a {work} at {workplace}. I earn {salary} per month")

My name is musfirah. I am 22 years old. I work as a Software developer at BankAlfalah. I earn 99999.0 per month

# Types

In [21]:
print(type(age))

<class 'int'>

In [22]:
print(type(work))

<class 'str'>

In [23]:
print(type(workplace))

<class 'str'>

In [24]:
print(type(salary))

<class 'float'>

In [26]:
price = 35.67
year = 2024
is_admin = True

In [27]:
print(type(price))
print(type(year))
print(type(is_admin))

<class 'float'>
<class 'int'>
<class 'bool'>

In [28]:
year = float(year)

In [29]:
print(type(year))

<class 'float'>

# Taking User input

In [41]:
my_name = input("Please enter your name here. ")

Please enter your name here. MUSFI

In [42]:
print(my_name)

MUSFI

In [49]:
my_age = input("Please enter your age ")

Please enter your age 311

In [50]:
#Total = my_name + my_age
Total = my_name + str(my_age)

In [51]:
print(Total)

MUSFI311

# Area

In [87]:
length = 5
width = 6
area = length * width

print(f"The area is {area}")

The area is 30

# Shopping cart program

In [75]:
cart = {}

#price * quantity
cart["Apple"] = 1.5 * 3
cart["Banana"] = 0.75 * 5

totalsum = cart["Apple"] + cart["Banana"]

print(f"The total sum of apples in cart is ${cart['Apple']}")
print(f"The total sum of bananas in cart is ${cart['Banana']}")
print(f"Total sum of all the fruits is ${totalsum}")

The total sum of apples in cart is $4.5
The total sum of bananas in cart is $3.75
Total sum of all the fruits is $8.25

# Indexing

In [90]:
credit_card_number = "1234-5678-9012-3456"
print(credit_card_number[0])
print(credit_card_number[5:9])
print(credit_card_number[:4])
print(credit_card_number[1:9:2]) #step size
print(credit_card_number[1:-9])
print(credit_card_number[:-1])
print(credit_card_number[::-1])

1
5678
1234
2457
234-5678-
1234-5678-9012-345
6543-2109-8765-4321

In [91]:
CCN = input("Please enter your CCN: ")

Please enter your CCN: 1234-5678-9012-3456

# Printing Credit Cart numbers in encryted form using both positive and negative indexing

In [113]:
encrypted = CCN[15:19] #positive indexing
encrypted2 = CCN[-4:] #negative indexing
print(f"Your Credit Card is : ****-****-****-{encrypted}")
print(f"Your Credit Card is : ****-****-****-{encrypted2}")

Your Credit Card is : ****-****-****-3456
Your Credit Card is : ****-****-****-3456

In [119]:
CCN = input("Please enter your CCN: ")
encrypted = ""

for i in range(len(CCN)):
    if i < 15:
        if CCN[i] != '-':
            encrypted += '*'
        else:
            encrypted += '-'
    else:
        encrypted += CCN[i]

print(f"Your Debit Card is: {encrypted}")

Please enter your CCN: 1234-5678-9012-3456-0987
Your Debit Card is: ****-****-****-3456-0987